{% extends "base.html" %}
{%block title %}Home Page{% endblock %}
{% block content %}
<header class="py-5">
    <div class="container px-5 pb-5"> Oh! 😮 you caught me developing 👷‍♂️⚒ I'm currently developing this website. Try searching for a job. <br />
        <div class="row gx-5 align-items-center">

            <!-- WTF INPUT FORM   -->   
            {% from 'bootstrap5/form.html' import render_form %}
            {{ form.csrf_token }}
            {{ render_form(form, method='post',
                            form_type='inline',
                            horizontal_columns=('lg', 8, 4),
                            button_size='sm')
            }}
            <!-- END WTF INPUT FORM --> 

        </div>
        Max result limit is 100
    </div>
</header>
{% endblock %}
